@charset "utf-8";
/*Here I set the charset to utf-8,which is the character encding for the website we're building.*/

/*Here I used font-face to put the font families in and I also had to put the source and url because we're getting it from a different website. */
@font-face {
    font-family: Champagne;
    src: url('cac_champagne.woff') format('woff'),
    url('cac_champagne.ttf') format('ttf');    
}

@font-face {  
    font-family: Grunge; 
    src: url('1942.woff') format('woff'),
    url('1942.ttf') format('ttf');
}

@font-face {  
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format(woff),
    url('DobkinPlain.ttf') format(ttf);
}
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Angelina Stilphen
   Date:   9.6.18
   
   Filename: ph_styles.css 

*/


/* Structural Styles */

/*In structural styles I had to set the back colors and the fonts i also had to change margins and paddings. The I changed some font size and how the text aligned.*/
html {
    background-color: hsl(91, 8%, 56%);
}
body {
    background-color: hsl(58, 31%, 84%);
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
header {
    background-color: black;
}
p {
    margin: 0px;
    padding: 5px 25px 25px 25px;
}
body>p {
    font-size: 1.1em;
    text-align: center
}
address {
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Navigation Styles */

/*In the nav styles I needed to nest the anctor into the nav and had to change the colors and the padding, I also had to put hypertext links and in those links that were visted i needed to change the color and the line underneath the liks to none. */
nav a {
    font-family: Trebuchet MS, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a:link,
nav a:visited {
    color: white;
    text-decoration: none;
    background-color: hsla(0, 0%, 42%, 0.4);
}

nav>ul>li>a:active,
nav>ul>li>a:hover {
    color: hsla(0, 0%, 42%, 0.4);
    background-color: hsla(0, 0%, 42%, 0.7);
}

/* Section Styles */

/*In the section styles I had to put a section element to change the playbill, also the headings of the playbills. */
section.playbill h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0px;
    padding: 20px 0px 10px 0px;
}

#play1 {
    background-color: hsl(240, 100%, 88%);  
    
}

#play1 h1 {
    font-family: Champagne, cursive;
}

#play2 {
    background-color: hsl(25, 88%, 73%);
    
}

#play2 h1 {
    
    font-family: Grunge, Times New Roman, Times, serif; 
}

section#play3 {
    background-color: hsl(0, 100%, 75%);
    font-family: Impact, Charcoal, sans-serif;
}

section#play4 {
    background-color: hsl(296, 86%, 86%);
    font-family: Dobkin, cursive;
}



/* Description List Styles */

/*In the descrition list I needed to change some of the descrition details (dd), and the descrtion term (dt). The things I changed were just the font size, font weight, margins, and color.*/
dt {
    font-size: 1.3em;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.4);
}

dd {
    font-size: 1.3em;
    margin-left: 0px;
    margin-bottom: 10px;
}
